<!doctype html>
{% block tag_html %}
    <html lang="es" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
{% endblock %}

<head>

    <title>{% block title %}Su Presencia ++{% endblock %}</title>
    {{ include('themes/velzon/_title-meta.html.twig') }}
    
    {% block _css_type_style %}
    {% endblock %}

    {{ include('themes/velzon/_general-css.html.twig') }}

    {% block meta_tags %}{% endblock %}
    {% block plugins_css %}{% endblock %}
    {% block custom_style %}{% endblock %}

</head>

<body>

    {# layout-wrapper #}
    <div id="layout-wrapper">

        {# ========== barra superior ========== #}
        {% block _topbar %}
            <header id="page-topbar">
                <div class="layout-width">
                    <div class="navbar-header">
                        <div class="d-flex">
                            {# LOGO #}
                            {% block _logo_topbar %}
                                <div class="navbar-brand-box horizontal-logo">
                                    <a href="/" class="logo logo-dark">
                                        <span class="logo-sm">
                                            <img src="{{cdn_cuentas}}/templates/velzon/images/splogo-sm.png" alt="" height="22">
                                        </span>
                                        <span class="logo-lg">
                                            <img src="{{cdn_cuentas}}/templates/velzon/images/logo-dark.png" alt="" height="63">
                                        </span>
                                    </a>

                                    <a href="/" class="logo logo-light">
                                        <span class="logo-sm">
                                            <img src="{{cdn_cuentas}}/templates/velzon/images/splogo-sm.png" alt="" height="22">
                                        </span>
                                        <span class="logo-lg">
                                            <img src="{{cdn_cuentas}}/templates/velzon/images/logo-light.png" alt="" height="63">
                                        </span>
                                    </a>
                                </div>
                            {% endblock %}

                            {# boton hamburguesa #}
                            {% block _hamburger_topbar %}
                                <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger shadow-none" id="topnav-hamburger-icon">
                                    <span class="hamburger-icon">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </span>
                                </button>
                            {% endblock %}

                            {# buscador #}
                            {% block _search_topbar %}
                                <form class="app-search d-none d-md-block">
                                    <div class="position-relative">
                                        <input type="text" class="form-control" placeholder="Buscar persona" autocomplete="off" id="search-options" value="">
                                        <span class="mdi mdi-magnify search-widget-icon"></span>
                                        <span class="mdi mdi-close-circle search-widget-icon search-widget-icon-close d-none" id="search-close-options"></span>
                                    </div>
                                    <div class="dropdown-menu dropdown-menu-lg" id="search-dropdown">
                                        <div class="text-center pt-3 pb-1">
                                            <a href="#" class="btn btn-primary btn-sm">Buscar<i class="ri-arrow-right-line ms-1"></i></a>
                                        </div>
                                    </div>
                                </form>
                            {% endblock %}
                        </div>

                        <div class="d-flex align-items-center">
                            {##> boton buscador en moviles <##}
                            {% block _search_mobile %}
                                <div class="dropdown d-md-none topbar-head-dropdown header-item">
                                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle shadow-none" id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bx-search fs-22"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-search-dropdown">
                                        <div class="p-3">
                                            <div class="form-group m-0">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Buscar persona" aria-label="Recipient's username">
                                                    <button class="btn btn-primary" type="button"><i class="mdi mdi-magnify"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}

                            {##> aplicaciones <##}
                            {% block _apps_topbar %}
                                <div class="dropdown topbar-head-dropdown ms-1 header-item">
                                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle shadow-none" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class='bx bx-category-alt fs-22'></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-lg p-0 dropdown-menu-end">
                                        <div class="p-3 border-top-0 border-start-0 border-end-0 border-dashed border">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h6 class="m-0 fw-semibold fs-15"> Su Presencia </h6>
                                                </div>
                                                {#<div class="col-auto">
                                                    <a href="#!" class="btn btn-sm btn-soft-info shadow-none"> View All Apps
                                                        <i class="ri-arrow-right-s-line align-middle"></i></a>
                                                </div>#}
                                            </div>
                                        </div>

                                        <div class="p-2">
                                            <div class="row g-0">
                                                <div class="col">
                                                    <a class="dropdown-icon-item" href="https://cuentas.supresencia.com/">
                                                        <img src="{{cdn_cuentas}}/templates/velzon/images/brands/cuentas.png" alt="cuentas">
                                                        <span>Cuentas</span>
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <a class="dropdown-icon-item" href="https://supresencia.com/">
                                                        <img src="{{cdn_cuentas}}/templates/velzon/images/brands/sp.png" alt="Su Presencia">
                                                        <span>Web</span>
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <a class="dropdown-icon-item" href="https://supresenciaradio.com/">
                                                        <img src="{{cdn_cuentas}}/templates/velzon/images/brands/radio.png" alt="Radio">
                                                        <span>Radio</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row g-0">
                                                <div class="col">
                                                    <a class="dropdown-icon-item" href="https://supresenciacooperativa.com/">
                                                        <img src="{{cdn_cuentas}}/templates/velzon/images/brands/spcoop.png" alt="Cooperativa">
                                                        <span>Cooperativa</span>
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <a class="dropdown-icon-item" href="#!">
                                                        <img src="{{cdn_cuentas}}/templates/velzon/images/brands/coffee.png" alt="CoffeeJesus">
                                                        <span>Coffee&Jesus</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}

                            {##> notificiones <##}
                            {% block _notification %}
                                {{ include('themes/velzon/_notification.html.twig') }}
                            {% endblock %}

                            {##> menu perfil usuario <##}
                            {% block _profile %}
                                {{ include('themes/velzon/_topbar-user.html.twig') }}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

        {# ========== App Menu ========== #}
        <div class="app-menu navbar-menu">
            {# LOGO #}
            {% block _logo_menu %}
                <div class="navbar-brand-box">
                    {# Dark Logo #}
                    <a href="index.html" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="{{cdn_cuentas}}/templates/velzon/images/splogo-sm.png" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="{{cdn_cuentas}}/templates/velzon/images/logo-dark.png" alt="" height="53">
                        </span>
                    </a>
                    {# Light Logo #}
                    <a href="index.html" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="{{cdn_cuentas}}/templates/velzon/images/splogo-sm.png" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="{{cdn_cuentas}}/templates/velzon/images/logo-light.png" alt="" height="53">
                        </span>
                    </a>
                    <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                        <i class="ri-record-circle-line"></i>
                    </button>
                </div>
            {% endblock %}

            {% block _scrollbar_menu %}
                <div id="scrollbar">
                    <div class="container-fluid">

                        <div id="two-column-menu">
                        </div>
                        {% block _scrollbar_menu_nav %}
                            <ul class="navbar-nav" id="navbar-nav">
                                {% block _scrollbar_menu_items %}
                                    <li class="menu-title"><span data-key="t-menu">Menu A</span></li>
                                
                                    <li class="nav-item">
                                        <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                                            <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Grupo Items A1</span>
                                        </a>
                                        <div class="collapse menu-dropdown" id="sidebarDashboards">
                                            <ul class="nav nav-sm flex-column">
                                                <li class="nav-item">
                                                    <a href="dashboard-analytics.html" class="nav-link" data-key="t-analytics"> Item 1 </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="dashboard-crm.html" class="nav-link" data-key="t-crm"> Item 2 </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="index.html" class="nav-link" data-key="t-ecommerce"> Item 3 </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="dashboard-crypto.html" class="nav-link" data-key="t-crypto"> Item 4 </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-pages">Menu B</span></li>

                                    <li class="nav-item">
                                        <a class="nav-link menu-link" href="#sidebarAuth" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarAuth">
                                            <i class="ri-account-circle-line"></i> <span data-key="t-authentication">Grupo Items B1</span>
                                        </a>
                                        <div class="collapse menu-dropdown" id="sidebarAuth">
                                            <ul class="nav nav-sm flex-column">
                                                <li class="nav-item">
                                                    <a href="#sidebarSignIn" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarSignIn" data-key="t-signin"> Subgrupo Item 1
                                                    </a>
                                                    <div class="collapse menu-dropdown" id="sidebarSignIn">
                                                        <ul class="nav nav-sm flex-column">
                                                            <li class="nav-item">
                                                                <a href="auth-signin-basic.html" class="nav-link" data-key="t-basic"> Item 1.1
                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a href="auth-signin-cover.html" class="nav-link" data-key="t-cover"> Item 1.2
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#sidebarSignUp" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarSignUp" data-key="t-signup"> Subgrupo Item 2
                                                    </a>
                                                    <div class="collapse menu-dropdown" id="sidebarSignUp">
                                                        <ul class="nav nav-sm flex-column">
                                                            <li class="nav-item">
                                                                <a href="auth-signup-basic.html" class="nav-link" data-key="t-basic"> Item 2.1
                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a href="auth-signup-cover.html" class="nav-link" data-key="t-cover"> Item 2.2
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-components">Menu C</span></li>

                                    <li class="nav-item">
                                        <a class="nav-link menu-link" href="#sidebarAdvanceUI" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarAdvanceUI">
                                            <i class="ri-stack-line"></i> <span data-key="t-advance-ui">Grupo Items C</span>
                                        </a>
                                        <div class="collapse menu-dropdown" id="sidebarAdvanceUI">
                                            <ul class="nav nav-sm flex-column">
                                                <li class="nav-item">
                                                    <a href="advance-ui-sweetalerts.html" class="nav-link" data-key="t-sweet-alerts">Item C1</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="advance-ui-nestable.html" class="nav-link" data-key="t-nestable-list">Item C2</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link menu-link" href="widgets.html">
                                            <i class="ri-honour-line"></i> <span data-key="t-widgets">Item Menu</span>
                                        </a>
                                    </li>

                                {% endblock %}
                            </ul>
                        {% endblock %}
                    </div>
                    {# Sidebar #}
                </div>
            {% endblock %}

            <div class="sidebar-background"></div>
        </div>
        {# Left Sidebar End #}
        {# Vertical Overlay #}
        <div class="vertical-overlay"></div>
        
        {#{ include('themes/velzon/_menu.html.twig') }#}



        {# ============================================================== #}
        {# Start right Content here #}
        {# ============================================================== #}
        <div class="main-content">
            {% block body %}
                <div class="page-content">
                    <div class="container-fluid">
                        {% block content %}
                            {# start page title #}
                            {% block content_title %}
                                <div class="row">
                                    <div class="col-12">
                                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                            {% block content_title_breadcrumb %}
                                                <h4 class="mb-sm-0">Inicio</h4>
                                                <div class="page-title-right">
                                                    <ol class="breadcrumb m-0">
                                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Página</a></li>
                                                        <li class="breadcrumb-item active">Inicio</li>
                                                    </ol>
                                                </div>
                                            {% endblock content_title_breadcrumb %}
                                        </div>
                                    </div>
                                </div>
                            {% endblock content_title %}
                            {# end page title #}

                            {% block content_body %}
                            {% endblock content_body %}
                        {% endblock content %}
                    </div>
                </div>
            {% endblock body %}

            {% block footer %}
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © El Lugar de Su Presencia.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block"></div>
                            </div>
                        </div>
                    </div>
                </footer>
            {% endblock footer %}
        </div>
        {# end main content #}

    </div>
    {# layout-wrapper #}



    {# start back-to-top #}
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    {# end back-to-top #}

    {# preloader #}
    <div id="preloader">
        <div id="status">
            <div class="spinner-border text-primary avatar-sm" role="status">
                <span class="visually-hidden">Cargando...</span>
            </div>
        </div>
    </div>

    {% block _js_type_style %}
        {# Theme Settings #}
        {% block _js_type_style_settings %}
            {{ include('themes/velzon/_theme-settings.html.twig') }}
        {% endblock %}
        {{ include('themes/velzon/_javascript-base.html.twig') }}
    {% endblock %}

    {% block plugins_js %}{% endblock %}
    {% block scripts %}{% endblock %}
    
</body>

</html>