    
    <script src="{{cdn_cuentas}}/templates/velzon/js/layout.js"></script>
    <link href="{{cdn_cuentas}}/templates/velzon/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="{{cdn_cuentas}}/templates/velzon/css/custom.min.css" rel="stylesheet" type="text/css" />