    {##> javascript de base <##}
    <script src="{{cdn_cuentas}}/templates/velzon/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{cdn_cuentas}}/templates/velzon/libs/simplebar/simplebar.min.js"></script>
    <script src="{{cdn_cuentas}}/templates/velzon/libs/node-waves/waves.min.js"></script>
    <script src="{{cdn_cuentas}}/templates/velzon/libs/feather-icons/feather.min.js"></script>
    <script src="{{cdn_cuentas}}/templates/velzon/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="{{ asset("templates/velzon/js/plugins.js") }}"></script>
    <script src="{{cdn_cuentas}}/plugins/js/vue.min.js" type="text/javascript"></script>
    <script src="{{cdn_cuentas}}/plugins/js/ammi.js" type="text/javascript"></script>
    {##> APP js <##}
    <script src="{{ asset("templates/velzon/js/app.js") }}"></script>