<span class="d-none d-xl-block ms-1 fs-12 user-name-sub-text">
    {% if is_granted('ROLE_ADMIN') %}
        Admin
    {% elseif is_granted('ROLE_PASTOR_PRINCIPAL') %}
        Pastor Principal
    {% elseif is_granted('ROLE_PASTOR_REGION') %}
        Pastor Región
    {% elseif is_granted('ROLE_PASTOR') %}
        Pastor
    {% elseif is_granted('ROLE_DIRECTOR_SEDE') %}
        Director de Site
    {% elseif is_granted('ROLE_STAFF_RED_CELULAR') %}
        Staff Red Celular
    {% elseif is_granted('ROLE_STAFF_FORMACION') %}
        Staff Capacitación
    {% elseif is_granted('ROLE_STAFF') %}
        Staff
    {% else %}
        Miembro
    {% endif %}
</span>