<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="El Lugar de Su Presencia" name="description" />
    <meta content="Su Presencia" name="author" />
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link rel="shortcut icon" href="https://supresencia.com/sites/default/themes/sp_iglesia_2015/favicon.ico" />