    {# si hay usuario en session #}
    {% if app.user ?? false %}
        <div class="dropdown ms-sm-3 header-item topbar-user">
            <button type="button" class="btn shadow-none" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="d-flex align-items-center">
                    {% if app.user.photo.social ?? false %}
                        <img class="rounded-circle header-profile-user" src="{{app.user.photo.social}}" alt="Foto">
                    {% else %}
                        <img class="rounded-circle header-profile-user" src="{{cdn_cuentas}}/images/ammi/perfil.png" alt="Foto">
                    {% endif %}
                    <span class="text-start ms-xl-2">
                        <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">{{app.user.name}} {{app.user.lastName}}</span>
                        {{ include('themes/velzon/_name_role.html.twig') }}
                    </span>
                </span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                {# items menu perfil #}
                <h6 class="dropdown-header">¡Hola {{app.user.name}}!</h6>
                <a class="dropdown-item" href="{{host_accounts}}/profile"><i class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Mi Perfil</span></a>
                <a class="dropdown-item" href="https://soy.elsp.co"><i class="mdi mdi-qrcode text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Código QR</span></a>
                <a class="dropdown-item" href="#"><i class="mdi mdi-file-document text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Certificados</span></a>
                <a class="dropdown-item" href="#"><i class="mdi mdi-human-male-child text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Mi Familia</span></a>
                <div class="dropdown-divider"></div>
                {# items menu perfil #}
                <a class="dropdown-item" href="{{ path("app_logout") }}"><i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">cerrar sesión</span></a>
            </div>
        </div>
    {% endif %}