{% extends 'themes/velzon/_base.html.twig' %}
{% block tag_html %}
    <html lang="es" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
{% endblock %}


{% block title %}Su Presencia ++{% endblock %}
{% block _css_type_style %}
    <link href="{{cdn_cuentas}}/templates/velzon/themes/material/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{cdn_cuentas}}/templates/velzon/themes/material/css/app.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
