{% extends 'themes/socialv.html.twig' %}
{% block title %}Procesando solicitud ...{% endblock %}
{% block content %}
    <div class="container">
        <div class="iq-card">
            <div class="iq-card-body p-3">
                {% if form ?? false %}
                    <form id="spFormAction" action="{{ form.action }}" method="post">
                        <div class="row">
                            <div id="message_default" class="col-12 p-3 text-center">
                                Procesando solicitud ...
                            </div>
                        </div>
                        {% if form.data ?? false %}
                            {% for key, value in form.data %}
                                <input type="hidden" name="{{key}}" value="{{value}}">
                            {% endfor %}
                        {% endif %}
                        <div id="submit_manual" class="row collapse">
                            <div id="sendSubmit" class="col-12 p-3 text-center">
                                <p>Parece que no se pudo procesar la acción automáticamente. Por favor, haga clic en 'Procesar Acción'.</p>
                                <button type="submit" class="btn btn-link">Procesar Acción</button>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        function executeSubmitManual(){
            document.getElementById("message_default").style.display = "none";
            document.getElementById("submit_manual").style.display = "inline-block";
        };
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("sendSubmit").style.display = "none";
            document.getElementById("spFormAction").addEventListener("submit", function(event) {
                document.getElementById("message_default").style.display = "inline-block";
                document.getElementById("sendSubmit").style.display = "none";
            });
        });
        window.addEventListener("load", function() {
            document.getElementById("spFormAction").submit();
            setTimeout(executeSubmitManual, 10000);
        });

        {# 
            document.addEventListener("DOMContentLoaded", function() {}): Este evento se dispara cuando el DOM ha sido completamente construido, pero antes de que se completen la carga de imágenes y otros recursos externos.
            window.addEventListener("load", function() {}): Este evento se dispara cuando se completa la carga de todos los recursos de la página, incluyendo imágenes y otros recursos externos.
        #}
    </script>
{% endblock %}