{% extends 'base.html.twig' %}

{% block _scrollbar_menu_itemsx %}{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="col-12">
            <h1>El Lugar de Su Presencia</h1>
        </div>
    </div>
{% endblock content_body %}


{#% block _js_type_style_settings %}
{% endblock %#}
