{% extends 'themes/socialv.html.twig' %}
{% block title %}Test Template{% endblock %}
{% block controlMenuIzquierdo %}{% endblock %}
{% block plugins_css %}{% endblock %}

{% block content %}
    <div id="sp-retreats" class="container">
        <div class="iq-card">
            <div class="iq-card-body p-0">
                <div class="row">
                    <div class="col-5 p-3">
                        {% if data.name ?? false %}
                            <h4>{{data.name}}</h4><br><br>
                        {% endif %}
                        <form action="{{ path("app_test_form") }}" method="post">
                            <input class="form-control" type="text" name="name">
                            <br>
                            <input class="btn btn-primary" type="submit" value="aceptar">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
