{% extends 'themes/socialv.html.twig' %}
{% block title %}Test Template{% endblock %}
{% block controlMenuIzquierdo %}{% endblock %}
{% block plugins_css %}{% endblock %}

{% block content %}
    <div id="sp-retreats" class="container">
        <div class="iq-card">
            <div class="iq-card-body p-0"></div>
        </div>
    </div>
{% endblock %}
