{% set template_to_extend = "themes/velzon/material.html.twig" %}
{% if is_granted('ROLE_ADMIN') %}
    {% set template_to_extend = "themes/velzon/minimal.html.twig" %}
{% endif %}
{% extends template_to_extend %}


{% block title %}Su Presencia{% endblock %}

{% block notification_modal %}{% endblock %}
{% block _search_topbar %}{% endblock %}
{% block _search_mobile %}{% endblock %}
{% block _notification %}{% endblock %}

