<!doctype html>
<html lang="es">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="robots" content="noindex">
      <meta name="googlebot" content="noindex">
      <title>{% block title %}Su Presencia ++{% endblock %}</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="https://supresencia.com/sites/default/themes/sp_iglesia_2015/favicon.ico" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{{cdn_cuentas}}/templates/socialv/css/bootstrap.min.css" type="text/css" />
      <!-- Typography CSS -->
      <link rel="stylesheet" href="{{cdn_cuentas}}/templates/socialv/css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="{{cdn_cuentas}}/templates/socialv/css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="{{cdn_cuentas}}/templates/socialv/css/responsive.css">
      
      {% block meta_tags %}
      {% endblock %}
      {% block plugins_css %}
      {% endblock %}

   </head>
   <body class="sidebar-main-active right-column-fixed">
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center"></div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         {% block menuIzquierdo %}
         
         {% endblock %}
         <!-- TOP Nav Bar -->
         <div id="barTopPrincipal" class="iq-top-navbar pt-2">
            <div class="iq-navbar-custom">
               <nav class="navbar navbar-expand-lg navbar-light p-0">
                  <div class="iq-navbar-logo d-flex justify-content-between">
                     {% block logo %}
                        <a href="#"><img src="{{cdn_cuentas}}/images/ammi/logo_143x45.png" class="img-fluid" alt=""></a>
                     {% endblock %}
                     {% block controlMenuIzquierdo %}
                        <div class="iq-menu-bt align-self-center">
                           <div class="wrapper-menu">
                              <div class="main-circle"><i class="ri-menu-line"></i></div>
                           </div>
                        </div>
                     {% endblock %}
                  </div>
                  
                  {% block menuDerecha %}
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-label="Toggle navigation">
                        <i class="ri-menu-3-line"></i>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto navbar-list">
                           <li>
                              {% if app.user ?? false %}
                                 <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                                    {% if app.user.photo.social ?? false %}
                                       <img src="{{app.user.photo.social}}" class="img-fluid rounded-circle mr-3" alt="user">
                                    {% else %}
                                       <img src="{{cdn_cuentas}}/images/ammi/perfil.png" class="img-fluid rounded-circle mr-3" alt="user">
                                    {% endif %}
                                    <div>
                                       <h6 class="mb-0 line-height">{{app.user.name}} {{app.user.lastName}}</h6>
                                    </div>
                                 </a>
                              {% endif %}
                              {% block menuPerfil %}
                                 <div class="iq-sub-dropdown iq-user-dropdown">
                                    <div class="iq-card shadow-none m-0">
                                       <div class="iq-card-body p-0 ">
                                          <div class="d-inline-block w-100 text-center p-3">
                                             <a class="bg-primary iq-sign-btn" href="{{ path("app_logout") }}" role="button">Sign out<i class="ri-login-box-line ml-2"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              {% endblock %}
                           </li>
                           {% block linkHome %}
                           {% endblock %}
                           
                        </ul>
                     </div>
                  {% endblock %}
               </nav>
            </div>
         </div>
         <!-- TOP Nav Bar END -->
         
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            {% block content %}
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12">
                        {#Here Add Your HTML Content.....#}
                     </div>
                  </div>
               </div>
            {% endblock %}
         </div>
      </div>
      <!-- Wrapper END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{{cdn_cuentas}}/templates/socialv/js/jquery.min.js"></script>
      <script src="{{cdn_cuentas}}/templates/socialv/js/popper.min.js"></script>
      <script src="{{cdn_cuentas}}/templates/socialv/js/bootstrap.min.js"></script>
      <!-- Appear JavaScript -->
      <script src="{{cdn_cuentas}}/templates/socialv/js/jquery.appear.js"></script>
      <!-- Countdown JavaScript -->
      <script src="{{cdn_cuentas}}/templates/socialv/js/countdown.min.js"></script>
      <!-- Counterup JavaScript -->
      <script src="{{cdn_cuentas}}/templates/socialv/js/waypoints.min.js"></script>
      <script src="{{cdn_cuentas}}/templates/socialv/js/jquery.counterup.min.js"></script>
      <!-- Wow JavaScript -->
      <script src="{{cdn_cuentas}}/templates/socialv/js/wow.min.js"></script>
      <!-- Apexcharts JavaScript -->
      <script src="{{cdn_cuentas}}/templates/socialv/js/apexcharts.js"></script>
      <!-- Slick JavaScript -->
      <script src="{{cdn_cuentas}}/templates/socialv/js/slick.min.js"></script>
      <!-- Select2 JavaScript -->
      <script src="{{cdn_cuentas}}/templates/socialv/js/select2.min.js"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="{{cdn_cuentas}}/templates/socialv/js/owl.carousel.min.js"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="{{cdn_cuentas}}/templates/socialv/js/jquery.magnific-popup.min.js"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="{{cdn_cuentas}}/templates/socialv/js/smooth-scrollbar.js"></script>
      <!-- lottie JavaScript -->
      <script src="{{cdn_cuentas}}/templates/socialv/js/lottie.js"></script>
      <!-- Chart Custom JavaScript -->
      <script src="{{cdn_cuentas}}/templates/socialv/js/chart-custom.js"></script>
      <!-- Custom JavaScript -->
      <script src="{{cdn_cuentas}}/templates/socialv/js/custom.js"></script>
      {# Personalizado #}
      <script src="{{cdn_cuentas}}/plugins/js/vue.min.js" type="text/javascript"></script>
      <script src="{{cdn_cuentas}}/plugins/js/ammi.js" type="text/javascript"></script>
      <script src="{{cdn_cuentas}}/plugins/moment/moment.min.js" type="text/javascript"></script>
      <script src="{{cdn_cuentas}}/plugins/moment/moment-timezone-data10.min.js" type="text/javascript"></script>
      {# Calendario #}
      <script src="{{cdn_cuentas}}/templates/socialv/fullcalendar/core/main.js"></script>
      <script src="{{cdn_cuentas}}/templates/socialv/fullcalendar/daygrid/main.js"></script>
      <script src="{{cdn_cuentas}}/templates/socialv/fullcalendar/timegrid/main.js"></script>
      <script src="{{cdn_cuentas}}/templates/socialv/fullcalendar/list/main.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/flatpickr" type="text/javascript"></script>

      {% block plugins_js %}{% endblock %}
      {% block chat %}{% endblock %}
      {% block scripts %}{% endblock %}

   </body>
</html>